html, body, #root, .App {
  display: flex;
  flex-direction: column;

  height: 100%;
}

.screen-wrapper-enter {
  opacity: 0;
}

.screen-wrapper-enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.screen-wrapper-exit {
  opacity: 1;
}

.screen-wrapper-exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
